# 1.
주어진 문자열에서 숫자만 선택해서, 숫자들의 합을 출력하는 함수를 만들어보세요!! <br>
예) "asd22fq!23f" : 9 (출력 내용 설명 : 2+2+2+3 = 9 )<br>
예) "asdfq!d" : 0 ( 출력 내용 설명 : 숫자가 없으면 0을 출력하세요 )

In [ ]:
# solution1 함수 작성

import re

def solution1(st):
  return sum(map(int,re.findall(r'\d',st)))

In [ ]:
input_1 = "asd22fq!23f"
solution1(input_1)

9

In [ ]:
input_2 = "asdasdsdsds"
solution1(input_2)

0

# 2.
* 입력으로는 리스트, 튜플이 들어어는데, 이들 중에서 제일 큰 값을 찾아서 출력으로 내보내세요!!<br>

예) 입력 : (5, (1,2), [[1],[2],[3])  
출력 5 <br>
예) 입력 : (100, (200,2), [[132],[900]])   
출력: 900 <br>
예) 입력 : [1, [2, [3, [4, [5, 6,[[[[[[99]]]]]]]]]]]     
출력 : 99

참고) 개별 원소에 대한 접근에 대해서 고민을 해야함!!!

In [ ]:
# solution2 함수 작성
import re

def solution2(lst):
  strings = str(lst)
  new= re.sub(r'[\(\)\[\]]',"",strings)
  new = new.split(',')

  new = [i.replace(" ","") for i in new]
  return int(max(new))

In [ ]:
int_case1 =  (5, (1,2), [[1],[2],[3]])
solution2(int_case1)

5

In [ ]:
int_case2 =  (100, (200,2), [[132],[900]])
solution2(int_case2)

900

In [ ]:
int_case3 =  (0, (0,0), [0] )
solution2(int_case3)

0

In [ ]:
int_case4 = [1, [2, [3, [4, [5, 6,[[[[[[99]]]]]]]]]]]
solution2(int_case4)

99

# 3.
주어진 영어(대문자/소문자/문장부호)문자열에 대해서 a,e,i문자만 제거해서 출력하는 함수를 만드세요<br>
예) <br>
입력 "This is great!" <br>
출력 : "Ths s grt!"
<br>
예) <br>
입력 : "Hi My Name is Hong Gil-Dong"<br>
출력 : "H My Nm s Hong Gl-Dong"<br>
예) <br>
입력 : "HI MY NAME IS HONG GIL-DONG"<br>
출력 : "H MY NM S HONG GL-DONG"<br>
*주의!!) 대소문자 모두에 해당함!!!

In [ ]:
# solution3 함수 작성
import re
def solution3(st):
  return re.sub(r'["a","A","e","E","i","I"]',"",st)

In [ ]:
input_str1 = "This is great!"
solution3(input_str1)

'Ths s grt!'

In [ ]:
input_str2 = "Hi My Name is Hong Gil-Dong"
solution3(input_str2)

In [ ]:
input_str3 = "HI MY NAME IS HONG GIL-DONG"
solution3(input_str3)

'H MY NM S HONG GL-DONG'

# 4.
주어진 Dict의 자료형에 대해서, 주어진 기존의  Dict의 값과 키값을 변경을 하고( 기존 키 --> 신규 값, 기존 값 --> 신규 키), 값이 작은 순서대로 Dict에 입력하세요!!!<br>
주의!!) 값이 중첩이 되는 경우들이 있을 수 있으므로, 새롭게 형성하는 Dict의 Value에는 자료형을 리스트로 구성하세요.<br>
주의!!) 변경을 한 value에서 자료형은 리스트인데, 그 안의 값들이 2개 이상이 있을 경우에서는 작은 값을 앞에, 큰 값을 뒤로 나타날 수 있도록 하세요. <br>

예) <br>
입력 :  d = {1:10, 2:20, 3:30} <br>
출력 :  {10: [1], 20: [2], 30: [3]} <br>
설명 : 기존의 키 1과 값10이 있는데, 이것을 변경하여 키 10, 값은 '리스트'인 [1]로 변환하여 처리를 함. 그리고 변경이 된 Dict의 Value에는 1개의 값들만 있어서, 따로 정렬처리를 하지 않음!

예) <br>
입력 : d = {1:40, 2:10, 3:20, 6:30, 5:30, 4:30} <br>
출력 : {40: [1], 10: [2], 20: [3], 30: [4, 5, 6]} <br>
설명 : 일단 예제1번과 같은 변환이면서, 기존의 Dict의 값이 30인 경우가 3가지 있고( 6:30, 5:30, 4:30)이것을 반대로 변환을 하면 값인 30이 같고, 이것을 동일한 키로 설정을 하고, 기존의 키6,5,4를 묶어서 신규 Dict의 value에 여러개의 값이 들어가므로, 값의 순서를 반영하여 [4,5,6]으로 되어야 함. [6,5,4]로 해서는 안 됨!!!!!. <br>
앞에서와 같이, 신규 Dict의 value에 2개 이상값이 있을 때 작은 순서대로 정렬이 되어야 함

예) <br>
입력 : {1:10, 2:10, 3:10}<br>
출력 : {10:[1,2,3} <br>

In [1]:
# solution4 함수 작성
def solution4(d):
  new = {}

  for i,v in d.items():
    if v not in new:
      new[v] =[i]
    else:
      new[v].append(i)
      new[v].sort()

  return new

In [ ]:
input_dict1 =  {1:10, 2:20, 3:30}
solution4(input_dict1)

{10: [1], 20: [2], 30: [3]}

In [ ]:
input_dict2 =  {1:40, 2:10, 3:20, 6:30, 5:30, 4:30}
solution4(input_dict2)

{40: [1], 10: [2], 20: [3], 30: [4, 5, 6]}

In [ ]:
input_dict3=  {1:10, 2:10, 3:10}
solution4(input_dict3)

{10: [1, 2, 3]}

# 5.
다음과 같은 피라미드 모양을 for, print를 이용해서 출력하세요.
![image.png]()

In [ ]:
# 코드 작성 하세요!!!!

    @
   @@@
  @@@@@
 @@@@@@@
@@@@@@@@@

In [ ]:
for i in range(5):
  print(" "*(5-i),"@"*(i*2+1))

      @
     @@@
    @@@@@
   @@@@@@@
  @@@@@@@@@

# 6.
a = [20,55,67,82,45,33,90,87,100,25]점수일 때, 50점 이상인 점수들의 합을 구하세요. 단, 아래의 제시한 4가지 방법으로 모두다 수행하세요<br>
방법 1 : for/ range사용,<br>
방법 2 : for/ 직접 값 사용,<br>
방법 3 : list comprehension 적용<br>
방법 4 : while사용

In [ ]:
a = [20,55,67,82,45,33,90,87,100,25]
a

[20, 55, 67, 82, 45, 33, 90, 87, 100, 25]

In [ ]:
# sol1) 코드 작성하세요
a = [20,55,67,82,45,33,90,87,100,25]
s=0
for i in range(len(a)):
  if a[i]>=50:
    s+=a[i]
print(s)

481

In [ ]:
# sol2) 코드작성하세요
s=0
for i in a:
  if i>=50:
    s+=i
print(s)

481

In [ ]:
# sol3)코드작성하세요
sum([i for i in a if i>=50])

481

In [ ]:
# sol4) 코드작성하세요
i = 0
s=0
while i<len(a):
  if a[i]>=50:
    s+=a[i]
  i+=1
print(s)

481

# 7.
a = [ 100, 300, 150, 200, 500, 800, 300, 200, 100, 450 , 800, 100 ] 의 데이터가 주어졌을 때, 이들 중에서 100, 200, 800, 500, 450, 300 의 값을 제외한 나머지 값들에 대해서 / 100을 값을 아래와 같이 출력하세요~ 아래와 같은 2가지 방법으로 하세요<br>
방법1 : for, if etc<br>
방법2 : 리스트 컴프리핸션

In [ ]:
a = [ 100, 300, 150, 200, 500, 800, 300, 200, 100, 450 , 800, 100 ]
a

[100, 300, 150, 200, 500, 800, 300, 200, 100, 450, 800, 100]

In [ ]:
#) sol1 코드작성하세요
lst =[]
for i in a:
  if i not in [100,200,800,500,450,300]:
    lst.append(i/100)
print(lst)

[1.5]

In [ ]:
# sol2) 코드작성하세요
[i/100  for i in a if i not in [100,200,800,500,450,300]]

[1.5]

# 8.
A는 기말고사를 보았다. 국어, 수학, 영어, 사회, 과학, 음악, 미술 과목들에 대한 점수를 사용자한테 입력을 받아서, A의 기말고자 평균을 출력해보세요. <br>
* 제약사항 : 최대한 변수를 줄여서, 코드를 간결하게 작성해보세요! (너무 무리하지 말고, 보인 생각 기준으로 하시면 됩니다) ==> 반복사항을 잘 고려하고, 이에 대한 자료형에 대한 고민을 하라는 의미임!

In [ ]:
# 코드작성하세요
lct = ["국어","수학","영어","사회","과학","음악","미술"]
s=0
for i in lct:
  x = int(input(i+"점수를 입력하세요!!!"))
  s+=x
print(s/len(lct))

국어점수 입력하세요!!!10
수학점수 입력하세요!!!20
영어점수 입력하세요!!!30
사회점수 입력하세요!!!40
과학점수 입력하세요!!!50
음악점수 입력하세요!!!60
미술점수 입력하세요!!!70
40.0

# 9.
베이킹 대회가 열렸다. 이 대회에 참가한 사람들 중에서 제일 1등을 선발하려고 한다. 입력으로는 심사위원들이 채점한 채점표가 Tuple로 원소(참가자,점수)가 구성이 된 리스트가 주어진게 된다. 단, 심사위원의 수는 가변적임!<br>
예: [ ("A", 20), ("B", 15), ("A", 14) ] <br>
이러한 상황에서 심사표를 바탕으로 1등 수상자의 이름을 출력하세요<br>
설명 : <br>
1번 심사위원은 A를 1등으로 선발하였고, 20점을 주었음<br>
2번 심사위원은 B를 1등으로 선발하였고, 15점을 주었음<br>
3번 심사위원은 A를 1등으로 선발하였고, 14점을 주었음<br><br>
선발기준 <br>
* 모든 심사위원으로 부터 받은 점수의 총합이 제일 큰 사람이 1등으로 선정<br>
* 가정 : 1등에 대한 동점자는 발생하지 않음!<br><br>

입력 예시<br>
* 1번 입력: [("Charles",10),("Conor",8),
("Charles",10),
("Conor",5)] <br>
* 1번 결과 : "Charles"<br>
* 1번 설명 : Charles가 2명의 심사위원으로 부터 10+10=20점을, Conor는 8+5 = 13점을 받아서, 최고점인 20점을 받은 Charles가 우승자로 이름 출력 <br><br>


* 2번 입력: [ ("A", 20), ("B", 15), ("A", 14) ] <br>
* 2번 결과 : "A"<br>
* 2번 설명 : A가  2명의 심사위원으로 부터 20+14=34점을, B는 15점을 받아서, 최고점인 34점을 받은 A가 우승자로 이름 출력

In [ ]:
# solution9 함수를 작성하세요
def solution9(lst):
  dic = {}

  for i in lst:
    if i[0] not in dic:
      dic[i[0]] = i[1]
    else:
      dic[i[0]]+=i[1]

  return sorted(dic.items(), key= lambda x : -x[1])[0][0]

In [ ]:
input_list_1 = [("Charles",10),("Conor",8), ("Charles",10), ("Conor",5)]
solution9(input_list_1)

'Charles'

In [ ]:
input_list_2 = [ ("A", 20), ("B", 15), ("A", 14) ]
solution9(input_list_2)

'A'

# 10.
다음은 카카오 2020년도의 인턴쉽 키패드 문제임
https://school.programmers.co.kr/learn/courses/30/lessons/67256?language=python3 <br>
* 주의사항<br>
수업시간에 해결을 했으니, 이번에는 직접 스스로 해결을 해보세요!!!( 기능적인 검색만 하고, 해답에 대한 검색을 하지 마세요!!! )
* 제한시간<br>
기본적으로 했던 문제이므로, 시간을 10~20분 사이 내에서 해결 할 수 있도록 주어진 시간내에 구현하는 연습도 해보세요!!!

In [ ]:
# solution10 함수를 작성하세요

def solution10(lst, hand):
  st=''

  l,r = "*", "#"
  left = [1,4,7,"*"]
  right = [3,6,9,"#"]
  midle = [2,5,8,0]

  for i in lst:
    if i in left:
      st+="L"
      l = i

    elif i in right:
      st+="R"
      r = i

    else :#중간에 있다.
      id_m = midle.index(i)

      if l in left: #왼손이 왼쪽에 있으면
        id_l = left.index(l)
        dif_idx_l = abs(id_m-id_l)
      else : # 왼손이 중간에 있으면
        id_l = midle.index(l)
        dif_idx_l = abs(id_m-id_l)-1

      if r in right: #오른손 오른쪽에 있으면
         id_r = right.index(r)
         dif_idx_r = abs(id_m-id_r)
      else : # 오른손이 중간에 있으면
         id_r = midle.index(r)
         dif_idx_r = abs(id_m- id_r)-1


      # 비교
      if dif_idx_l < dif_idx_r:
        st+="L"
        l=i
      elif dif_idx_l> dif_idx_r:
        st+="R"
        r=i
      else:
        if hand =="left":
          st+="L"
          l = i
        else:
          st+="R"
          r = i
  return st

In [ ]:
a = [1, 3, 4, 5, 8, 2, 1, 4, 5, 9, 5]
b = "right"
solution10(a,b) #"LRLLLRLLRRL"

'LRLLLRLLRRL'

In [ ]:
a = [7, 0, 8, 2, 8, 3, 1, 5, 7, 6, 2]
b = "left"
solution10(a,b) #"LRLLRRLLLRR"

'LRLLRRLLLRR'

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
b = "right"
solution10(a,b) #"LRLLRRLLLRR"

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
b = "right"
solution10(a,b) #"LRLLRRLLLRR"

'LLRLLRLLRL'